.listItem {
  align-items: center;
  display: flex;
}

.listItem:not(:first-child) {
  margin-top: 12px;
}

.checkboxWrapper {
  display: flex;
  margin-right: 8px;
}

.checkbox {
  background: #fff;
  border: solid 1px #ccc;
  border-radius: 4px;
  height: 16px;
  width: 16px;
}